# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Conda
/conda-env/

# Virtual Environment
/venv/
/.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Model files
*.h5
*.pkl
/app/models/*.joblib

# Logs
/logs/
*.log

# Storage
storage/
